html{
	font-family: "Arial", Verdana, sans-serif;
	font-size: 0.625em;
	line-height: 1.5;
	letter-spacing: 0.15rem;
}

body, body *, body *:before, body *:after { 
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	margin: 0;
	padding: 0;
    vertical-align: middle;
	}

body{
	color: #333;
	background-color: rgb(245,245,245);
}

li{
	list-style:none;
}

a, a:link, a:visited, a:hover, a:focus, a:active{
	text-decoration: none;
	outline: none;
}

img{
	width: 100%;
	height: auto;
}

/*--------------------------------------------------------------------------------*/

body{
	background-image:url("../images/bg.jpg");
	font-family:Helvetica;
	color:white;
	min-height:100vh;
	position:relative;
	
	
}

a, a:link, a:visited, a:hover, a:focus, a:active{

		color: white;


}


/*Title*/


#title{
	text-align:center;
	background-color:#604941e6;
	color:black;
	height:8vh;
	padding-top:1rem;
	position:fixed;
	width: 100vw;
	padding-left: 21px;
	
}

#title h1{
	font-size:2rem;
	display:inline-block;
	
	
}
#title img{
	width: 40px;
	display:inline-block;
	
}

/*--------------MENU BURGER--------------*/



/*---------controle du menu-------------*/



/*-------------animation slidshow-------------*/

@keyframes bannerAnim{

	
	0%{
		background-image:
			url("../images/maroquinerie-slider1.jpg"),
			url("../images/maroquinerie-slider2.jpg"),
			url("../images/maroquinerie-slider3.jpg"),
			url("../images/maroquinerie-slider1.jpg");
		
		background-position:
			0vw 0vh,
			-100vw 0vh,
			-200vw 0vh,
			-300vw 0vh;	
		
		background-size:100vw 100vh;
		

		
		
	}
	17%{
		background-image:
			url("../images/maroquinerie-slider1.jpg"),
			url("../images/maroquinerie-slider2.jpg"),
			url("../images/maroquinerie-slider3.jpg"),
			url("../images/maroquinerie-slider1.jpg");
		
		
		background-position:
			0vw 0vh,
			-100vw 0vh,
			-200vw 0vh,
			-300vw 0vh;
			
		background-size:100vw 100vh;
		

		
		
	}	
		
	33%{
		background-image:
			url("../images/maroquinerie-slider1.jpg"),
			url("../images/maroquinerie-slider2.jpg"),
			url("../images/maroquinerie-slider3.jpg"),
			url("../images/maroquinerie-slider1.jpg");
		
		background-position:
			100vw 0vh,
			0vw 0vh,
			-100vw 0vh,
			-200vw 0vh;
		
		background-size:100vw 100vh;
		
			
	}	
		
	50%{
		background-image:
			url("../images/maroquinerie-slider1.jpg"),
			url("../images/maroquinerie-slider2.jpg"),
			url("../images/maroquinerie-slider3.jpg"),
			url("../images/maroquinerie-slider1.jpg");
		
		background-position:
			100vw 0vh,
			0vw 0vh,
			-100vw 0vh,
			-200vw 0vh;
		
		background-size:100vw 100vh;
		

		
	}	
		
	66%{
		background-image:
			url("../images/maroquinerie-slider1.jpg"),
			url("../images/maroquinerie-slider2.jpg"),
			url("../images/maroquinerie-slider3.jpg"),
			url("../images/maroquinerie-slider1.jpg");
		
		background-position:
			100vw 0vh,
			100vw 0vh,
			0vw 0vh,
			-100vw 0vh;
		
		background-size:100vw 100vh;
		
	}	
	
	83%{
		background-image:
			url("../images/maroquinerie-slider1.jpg"),
			url("../images/maroquinerie-slider2.jpg"),
			url("../images/maroquinerie-slider3.jpg"),
			url("../images/maroquinerie-slider1.jpg");
		
		background-position:
			100vw 0vh,
			100vw 0vh,
			0vw 0vh,
			-100vw 0vh;
		
		background-size:100vw 100vh;
		

	}	
	
	100%{
		background-image:
			url("../images/maroquinerie-slider1.jpg"),
			url("../images/maroquinerie-slider2.jpg"),
			url("../images/maroquinerie-slider3.jpg"),
			url("../images/maroquinerie-slider1.jpg");
		
		background-position:
			100vw 0vh,
			100vw 0vh,
			100vw 0vh,
			0vw 0vh;
		
		background-size:100vw 100vh;
		
	}		
	
	
} 

.bannerHome{
	background-image:

		url("../images/maroquinerie-slider1.jpg"),
		url("../images/maroquinerie-slider2.jpg"),
		url("../images/maroquinerie-slider3.jpg");
		
					
/*-----------background-size:cover---------*/

	background-repeat:no-repeat;
	background-position:left top;

	height:100vh;
	width:100%;
	
	animation-name:bannerAnim;
	animation-duration:10s;
	animation-timing-function:ease-in-out;
	animation-iteration-count:infinite;
}

.bannerpage{
	display:none;
	
}

/*-------------header----------------*/

#textheader,#textheader1{
	
	text-align:center;
	color:white;
	font-weight:bold;
	padding:0px 5px 10px 10px;
	line-height: 1;
	font-style: italic;	
}

#textheader{
	font-size:30px;

}

#textheader1{

	font-size:20px;
}


#textheader:first-child{
	padding-top:141px;
	
}

#logodesk img{
	display:none;
	
}

/*-------------------Menu Navigation---------------*/
#burger{

width: 12%;
top: 10px;
position: absolute;

}

nav{
	
	color:#fcd793;
	height: 100%; 
	width: 0; 
	position: fixed;
	z-index: 1000; 
	top: 0; 
	left: 0;
	background-image:url("../images/HDC-couleur.jpg"); 
	background-position:center;
	font-size:2rem;
	overflow-x: hidden; /* Disable horizontal scroll */
	padding-top: 60px; /* Place content 60px from the top */
	transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
	
}

/* Position and style the close button (top right corner) */
nav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}

nav li{
	padding:5px 0px;
	border-bottom: 1px solid burlywood ;
}


nav ul li ul li a{
	left:20px;
	position:relative;
	font-weight:bold;
	
	
}

 .hover:hover{
	color: white;
	background-color: #a15927;
	transition-property: background-color, width;
	transition-duration: 0.5s;
	width:100%;
	
}

.menu1{

	padding-left: 20px;
}


/*-------------Choix de page du site IMG-------------------*/

#principal{
	
	margin:20px;
	
}

#principal article h2{
	padding:20px 0;
}

#principal article a{
	border-radius:15px;
	display: block;
	overflow: hidden;
} 

#principal article a img{
	display: block;
}

.lastcreation img{
	
	width:20%;
	margin-bottom:20px;
}

article h4{

	margin-bottom: 30px;
}



.title2{
	
	top:10vh;
	margin: 0 auto 90px auto;
	text-align:center;
	position: relative;
	font-size:20px;
}

.photo{
	
	padding:20px 20px; 
	margin-top: 2vh;
}


.imgtop img{
	
	border-radius:15px;
	width:70%;
	display:block;
	margin-left:auto;
	margin-right:auto;
	margin-bottom: 40px;
	margin-top: 16vh;
	

}
/*-------------article acceuil---------------*/

h3{
	
	font-size:20px;
	margin-top:10px;
	margin-left: 10px;
}

#acceuil{
	
	font-size:15px;
	font-weight:bold;
	font-style:italic;
	padding-left: 8px;

}


/*--------------portfolio---------------------*/

dt{
	
	display:none
	
}

#big_pict{
	
	display:none;
}

#galerie_mini li{
	
	margin-top:30px;
}

.close{

	display: none;
}
/*-----------------formulaire-----------------*/

#formulaire{
	
	margin-bottom:50px;
}
#formulaire:hover{

	cursor: pointer;
}
.formulaire1{
	margin-top:20px;
	height: 50px;
	

}
.formulaire2{

	height: 11vh;
	margin-bottom: 20px;

}
.formulaireName{

	height: 32vh;
}

#formulaire input:hover{
	color: black;
	background-color: #fcd793;
	transition-property: background-color, width;
	transition-duration: 0.5s;
}

textarea{
	
	width: 73vw;
	height: 6vh;
	display: block;
	margin: auto;
	
}

input:not(#benvoyer){
	
	width: 66vw;
	height: 4vh;
	display: block;
	margin: auto;	
}

input#benvoyer{

	display: block;
	margin: auto;
	width: 71vw;
	height: 3vh;
}

label{

	margin-left: auto;
	text-align: center;
	display: block;
}
	
/*-------------------maps responsive-----------------*/

.maps {
	height: 0;
	overflow: hidden;
	padding-bottom: 60%;
	position: relative;
}

.googlemap {
	border: 0;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

/*-----------------------footer------------------*/

footer {
	background-color:rgba(59, 62, 69, 0.9);
	text-align:center;
	bottom:0;
	height: 50px;
	margin-top: 30px;
	width: 100%;
	padding-top: 10px;
}

/*--------------------landscape-------------------------*/

@media (orientation: landscape){

#title{

	height: 15vh;
}

.title2{

	top: 19vh;
}
#galerie{

	margin: 0px 28%;
	width: 44%;
}

input:not(#benvoyer){

	height: 8vh;
}

input#benvoyer{

	height: 8vh;
}

textarea{

	height: 22vh;
}

.formulaireName {
	height: 65vh;
}

.formulaire2{

	height: 36vh;
}


}
/*----------------screen 1000px-----------------*/

@media screen and (min-width:1000px){

	#logodesk img{
		display: inline-block;
		position: relative;
		width: 5vw;
		top: 2%;
		left: 0%;
		
	}

	#logodesk{
		width:200px;
		
	}

	.menu1{
		right: 16%;
		position: relative;
		
	}
	/*-----------------Menu Navigation---------------*/

	nav .closebtn {

		display: none
		position: static;
		top: 0;
		right: 0px;
		font-size: 0px;
		margin-left: 0px;
	}

	#burger{

		display: none;
		width: 0%;
		top: 0px;
		position: static;
	}
	nav{
		
		outline:10px solid rgba(182, 87, 7, 0.22);
		width:80%;
		height:140px;
		left:9%;
		top:1%;
		position: absolute;
		margin: 0 auto;
		background:#2c2c2ccc;
		display:flex;
		justify-content: space-evenly;
		flex-wrap:nowrap;
		padding-top:6px;
		overflow-x: visible;
		
	}

	nav li{
		
		float:left;
		font-size:2.1rem;
		margin:10px;
		border-bottom: 0px solid black;
		
	}
	nav ul li ul {
		display:none;
	}
	nav ul li ul{

		background-color: #2c2c2ce6;
	  height: 160px;
	  width: 356px;
	  position: absolute;
	}
	

	nav ul li:hover ul {
		display:block;
		}
		
	.menu{
		
		font-size:2rem;
	}

	.autre:hover{
		width: 200px;

	}
	nav li:hover ul li {
		float:none;
		}
		
	/*--------------Header----------------*/

	#textheader:first-child{
		padding-top:200px;

	}

	#menunavigation{
		
		display:none;
	}

	#title{
		display:none;
		
	}

	.bannerHome{

		height: 555px;

	}


	#textheader{
		font-size: 50px;

	}

	#textheader1{

		font-size: 40px;

	}

	/*-----------------centre du site index---------- */ 


	#principal{

		display:flex;
		margin-bottom: 5%;
		margin-top: 5%;
		
	}
	
	#principal article{
		width: 33%;
		padding-left: 12px;
		padding-right: 12px;
	}

	.title2 {
		top: 205px;
		margin-bottom: 230px;

	}

	/*---------------formulaire-------------*/

	textarea{
		
		width: 77vw;
		height: 10vh;
		margin: auto;
		display: block;
		
	}

	input:not(#benvoyer){
		
		width:34vw;
		height:4vh;
		margin: auto;
		display: block;
	}

	fieldset{

		height: 230px;
		margin-left: 20px;
		margin-right: 20px;
	}



	label{

		margin-left: auto;
		text-align: center;
		display: block;
	}

	
	.formulaire2 {
		
		height: 133px;
	
	}

	.formulaire1 {
    margin-top: 4vh;
    
}

	.formulaireName {
    height: 37vh;
    
}


	/*-----------Gallery----------*/


	dt{
		
		display:inline-block;
		margin-top: 20px;
	}

	.portfolio img{
		
		height:170px;
	}
	
		
	div#galerie
	{
	  width: 410px ;
	  padding: 15px ;
	  margin: 15px 30px ;
	  text-align: center ;
	  font: 0.9em Georgia, serif ;
	  display: inline;
	}

	#galerie_mini{
		
		display:flex;
		justify-content:space-between;
	}

	ul#galerie_mini
	{
	  margin: 0 ;
	  list-style-type: none ;
	  padding-left: 30px;
	  padding-right: 30px;
	  
	}

	ul#galerie_mini li
	{
	  float: left ;
	}

	ul#galerie_mini li a img
	{
	  margin: 2px 1px ;
	  border: 1px solid white ;
	}

	
	#big_pict{
		
		width:30%;
		margin-bottom:100px;
		margin-top:100px;
		display:inline-block;
		
	}

	dl#photo
	{
		clear: both ;
		margin: 0 auto ;
	}

	dl#photo dt
	{
		font: italic 2.5em/1.5em Georgia, serif ;
		color: white ;
	}

	dl#photo dd
	{
		margin: 0 ;
	}

	dl#photo img
	{
		border: 1px solid white ;
	}
	


	
	/*---------------fin galery----------------*/
	
	
	/*----zoom photo ---------------*/
	
	
		/* style de l image du zoom */
	#big_pict {
	  border-radius: 5px;
	  cursor: pointer;
	  transition: 0.3s;
	}

	#big_pict:hover {
		
		opacity: 0.7;
		
	}

	/* zoom (background) */
	.zoom {
	  display: none; /* Hidden by default */
	  position: fixed; /* Stay in place */
	  z-index: 1000; /* Sit on top */
	  padding-top: 100px; /* Location of the box */
	  left: 0;
	  top: 0;
	  width: 100%; /* Full width */
	  height: 100%; /* Full height */
	  overflow: auto; /* Enable scroll if needed */
	  background-color: rgb(0,0,0); /* Fallback color */
	  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
	}

	/* zoom contenu (Image) */
	.zoom-contenu {
	  margin: auto;
	  display: block;
	  width: 80%;
	  max-width: 700px;
	}

	/* titre de l image Image */
	#titreImage {
	  margin: auto;
	  display: block;
	  width: 80%;
	  max-width: 700px;
	  text-align: center;
	  color: #ccc;
	  padding: 10px 0;
	  height: 150px;
	}

	/* rajout de l  Animation */
	.zoom-contenu, #titreImage {
	  animation-name: zoom;
	  animation-duration: 0.6s;
	}

	@keyframes zoom {
	  from {transform:scale(0)}
	  to {transform:scale(1)}
	}

	/* bouton fermé */
	.close {
	  position: absolute;
	  top: 15px;
	  right: 35px;
	  color: #f1f1f1;
	  font-size: 40px;
	  font-weight: bold;
		transition: 0.3s;
		display:block
	}

	.close:hover,.close:focus {
	  color: #bbb;
	  text-decoration: none;
	  cursor: pointer;
	}
	}
/*--------------screen 1350px-----------*/

@media screen and (min-width:1350px){
	
nav li{
	
	font-size:3rem;
	
	
}
.autre:hover{
	width: 300px;
	
}

.menu{
	
	width:300px;
}


}